# API (máy thật: http://<IP_LAN_LAPTOP>:3000/api/v1)
EXPO_PUBLIC_API_BASE_URL=https://sophia-conquerable-autodidactically.ngrok-free.dev/api/v1
EXPO_PUBLIC_SOCKET_URL=https://sophia-conquerable-autodidactically.ngrok-free.dev
# Agora (có thể dùng EAS Secret thay cho lưu trong repo)
EXPO_PUBLIC_AGORA_APP_ID=
